---
apiVersion: tekton.dev/v1
kind: Task
metadata:
  name: konflux-e2e-runner
spec:
  description: |
    This task runs E2E tests for the Konflux project using specified parameters
    such as the Git repository URL, revision, and OpenShift login command. It sets up the environment,
    clones the repository, and executes the E2E tests, storing the artifacts in an OCI container registry
    using ORAS.
  params:
    - name: ocp-login-command
      type: string
      description: "Command to log in to the OpenShift cluster."
    - name: test-name
      type: string
      description: "The name of the test being executed."
    - name: git-repo
      type: string
      default: "e2e-tests"
      description: "The name of the Git repository containing the E2E tests."
    - name: git-url
      type: string
      default: "https://github.com/konflux-ci/e2e-tests.git"
      description: "The URL of the Git repository containing the E2E tests."
    - name: git-revision
      type: string
      default: "main"
      description: "The revision (branch or tag) of the Git repository to checkout."
    - name: oras-container
      type: string
      description: "The URI of the OCI container registry to store test artifacts."
      default: "quay.io/org/rhtap-e2e-artifacts"
    - name: job-spec
      type: string
      description: "The job specification containing details of the test execution."
    - name: container-image
      type: string
      description: "Contain the container name from Konflux Snapshot."
      default: "quay.io/redhat-user-workloads/konflux-qe-team-tenant/konflux-e2e/konflux-e2e-tests:latest"
    - name: component-image
      type: string
      description: 'Container image built from any konflux git repo.'
      default: "none"
    - name: ginkgo-procs
      description: "Number of processes to run in parallel in ginkgo"
      default: 20
    - name: sealights-bsid
      description: "A unique identifier (Build Session ID) assigned to the current Sealights build session. This ID is used to associate test results with a specific build in Sealights for detailed analysis and reporting."
      default: ""
    - name: test-stage
      description: "The name or identifier of the test suite being executed (e.g., 'integration', 'e2e'). This value will be recorded in Sealights to help categorize and trace test results within the platform."
      default: "konflux-e2e"
    - name: enable-sealights
      description: "A flag to enable or disable the Sealights integration feature. When set to 'true', test results are sent to Sealights for analysis; otherwise, this feature is skipped."
      default: "false"
    - name: e2e-timeout
      description: "Timeout value for running E2E script (cluster bootstrap + E2E tests)"
      default: "90m"
  volumes:
    - name: konflux-secret-volume
      secret:
        secretName: konflux-e2e-secrets
    - name: konflux-test-infra-volume
      secret:
        secretName: konflux-test-infra
  steps:
    - name: initialize-sealights-session
      when:
        - input: $(params.enable-sealights)
          operator: in
          values: ["true"]
      ref:
        resolver: git
        params:
          - name: url
            value: https://github.com/konflux-ci/tekton-integration-catalog.git
          - name: revision
            value: main
          - name: pathInRepo
            value: stepactions/sealights/initialize-session/0.1/initialize-sealights-session.yaml
      params:
        - name: sealights-bsid
          value: $(params.sealights-bsid)
        - name: test-stage
          value: $(params.test-stage)
    - name: e2e-test
      computeResources:
        requests:
          cpu: "500m"
          memory: "1Gi"
        limits:
          cpu: "2"
          memory: "6Gi"
      image: $(params.container-image)
      volumeMounts:
        - name: konflux-secret-volume
          mountPath: /usr/local/konflux-ci-secrets
        - name:  konflux-test-infra-volume
          mountPath: /usr/local/konflux-test-infra
      workingDir: /workspace/e2e-tests
      env:
        - name: JOB_NAME
          value: $(params.test-name)
        - name: GIT_REPO
          value: $(params.git-repo)
        - name: GIT_URL
          value: $(params.git-url)
        - name: GIT_REVISION
          value: $(params.git-revision)
        - name: KONFLUX_CI
          value: "true"
        - name: JOB_SPEC
          value: $(params.job-spec)
        - name: COMPONENT_IMAGE
          value: $(params.component-image)
        - name: GINKGO_PROCS
          value: $(params.ginkgo-procs)
        - name: ORAS_CONTAINER
          value: $(params.oras-container)
        - name: ARTIFACT_DIR
          value: /workspace/artifact-dir
        - name: E2E_TIMEOUT
          value: $(params.e2e-timeout)
      onError: continue
      script: |
        #!/bin/bash

        set -euo pipefail

        log() {
            echo -e "[$(date +'%Y-%m-%d %H:%M:%S')] [$1] $2"
        }
        export -f log

        # Log into OpenShift cluster (the connection is sometimes flaky - give it more time)
        timeout --foreground "10m" bash -c "
        until $(params.ocp-login-command)
        do
            echo \"Waiting for 'oc login' command to succeed... Trying again in 10 seconds\"
            sleep 10
        done
        "

        export GITHUB_TOKEN

        PREVIOUS_RATE_REMAINING=0

        IFS=',' read -r -a GITHUB_ACCOUNTS_ARRAY <<< "$(cat /usr/local/konflux-ci-secrets/github_accounts)"
        for account in "${GITHUB_ACCOUNTS_ARRAY[@]}"; do
            IFS=':' read -r -a GITHUB_USERNAME_ARRAY <<< "$account"

            GH_RATE_REMAINING=$(curl -s \
                -H "Accept: application/vnd.github+json" \
                -H "Authorization: Bearer ${GITHUB_USERNAME_ARRAY[1]}" \
                https://api.github.com/rate_limit | jq ".rate.remaining")

            log "INFO" "user: ${GITHUB_USERNAME_ARRAY[0]} with rate limit remaining $GH_RATE_REMAINING"
            if [[ "$GH_RATE_REMAINING" -ge "$PREVIOUS_RATE_REMAINING" ]]; then
                GITHUB_USER="${GITHUB_USERNAME_ARRAY[0]}"
                GITHUB_TOKEN="${GITHUB_USERNAME_ARRAY[1]}"
            fi
            PREVIOUS_RATE_REMAINING="$GH_RATE_REMAINING"
        done

        log "INFO" "running tests with github user: ${GITHUB_USER}"

        # Prepare git, pair branch if necessary, Install Konflux and run e2e tests
        cd "$(mktemp -d)"

        git config --global user.name "redhat-appstudio-qe-bot"
        git config --global user.email redhat-appstudio-qe-bot@redhat.com

        mkdir -p "${HOME}/creds"
        git_creds_path="${HOME}/creds/file"
        git config --global credential.helper "store --file $git_creds_path"
        echo "https://${GITHUB_USER}:${GITHUB_TOKEN}@github.com" > "$git_creds_path"

        git clone --origin upstream --branch main "https://github.com/konflux-ci/e2e-tests.git" .
        make ci/prepare/e2e-branch 2>&1 | tee "${ARTIFACT_DIR}"/e2e-branch.log

        /bin/bash -c "integration-tests/scripts/konflux-e2e-runner.sh"
    - name: sealights-reporter
      onError: continue
      when:
        - input: $(params.enable-sealights)
          operator: in
          values: ["true"]
      ref:
        resolver: git
        params:
          - name: url
            value: https://github.com/konflux-ci/tekton-integration-catalog.git
          - name: revision
            value: main
          - name: pathInRepo
            value: stepactions/sealights/upload-ginkgo-results/0.1/upload-ginkgo-results.yaml
      params:
        - name: ginkgo-json-report-path
          value: /workspace/artifact-dir/e2e-report.json
        - name: test-stage
          value: $(params.test-stage)
        - name: sealights-bsid
          value: $(params.sealights-bsid)
        - name: test-session-id
          value: $(steps.initialize-sealights-session.results.test-session-id)
    - name: secure-push-oci
      ref:
        resolver: git
        params:
          - name: url
            value: https://github.com/konflux-ci/tekton-integration-catalog.git
          - name: revision
            value: main
          - name: pathInRepo
            value: stepactions/secure-push-oci/0.1/secure-push-oci.yaml
      params:
        - name: workdir-path
          value: /workspace/artifact-dir
        - name: oci-ref
          value: $(params.oras-container)
        - name: credentials-volume-name
          value: konflux-test-infra-volume
    - name: fail-if-any-step-failed
      ref:
        resolver: git
        params:
          - name: url
            value: https://github.com/konflux-ci/tekton-integration-catalog.git
          - name: revision
            value: main
          - name: pathInRepo
            value: stepactions/fail-if-any-step-failed/0.1/fail-if-any-step-failed.yaml
